:host {
  width: 0;
  height: 0;
  z-index: 1000;
}

.root {
  display:grid;
  grid-template-columns: 98vw;
  grid-template-rows: 10vh 58vh 10vh;
  position: absolute;
  top:10vh;
  left:0;
}

.display{
  font-size: min(5vw, 7vh);
}

.keyboard {
  margin-top: 1vh;
}

.background {
  padding: 10vh 1vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  backdrop-filter: blur(3px) brightness(0.5);

  z-index: 900;
}

@media all and (orientation:landscape) { 
  .buttons{
    display:grid;
    grid-template-columns: auto 30vw 30vw;
    grid-template-rows: 10vh;
  }
  .button{
    font-size: 6vh;

  }
  .button.ok{
    grid-column-start: 2;
  }
  .button.cancel{
    grid-column-start: 3;
  }
}
