:host {
  width: 0;
  height: 0;
}

.root {
  display:grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 58vh 10vh;
  position: absolute;
  top:10vh;
  left:0;
}

.display{
  font-size: min(5vw, 7vh);
}

.keyboard {
  margin-top: 1vh;
}

@media all and (orientation:landscape) { 
  .buttons{
    display:grid;
    grid-template-columns: auto 30vw 30vw;
    grid-template-rows: 10vh;
  }
  .button{
    font-size: 6vh;

  }
  .button.ok{
    grid-column-start: 2;
  }
  .button.cancel{
    grid-column-start: 3;
  }
}
