<div class="control">
  <!--  +y-->
  <div class="button h-center" (click)="manualMove(0,-10)">-10</div>
  <div class="button h-center" (click)="manualMove(0,-1)">-1</div>
  <div class="button h-center" (click)="manualMove(0,-0.1)">-0.1</div>

  <!--  +x-->
  <div class="button h-left v-center" (click)="manualMove(-10,0)">-10</div>
  <div class="button v-center" (click)="manualMove(-1,0)">-1</div>
  <div class="button v-center" (click)="manualMove(-0.1,0)">-0.1</div>

  <div class="joystick v-center zone">
    <ngx-joystick #dynamicJoystick [options]="{
        mode: 'dynamic',
        size: 300,
        position: { left: '50%', top: '50%' },
        color: 'blue',
        shape: 'square'
      }" (move)="onMove($event)" (start)="onJoystickStart()" (end)="onJoystickEnd()"></ngx-joystick>
  </div>

  <!--  -x-->
  <div class="button v-center" (click)="manualMove(0.1,0)">0.1</div>
  <div class="button v-center" (click)="manualMove(1,0)">1</div>
  <div class="button v-center" (click)="manualMove(10,0)">10</div>

  <div class="button h-center" (click)="manualMove(0, 0.1)">0.1</div>
  <div class="button h-center" (click)="manualMove(0, 1)">1</div>
  <div class="button h-center" (click)="manualMove(0, 10)">10</div>

  <!--  additional content-->
  <div class="additional-content top left">
    <ng-content select="[top-left]"></ng-content>
  </div>
  <div class="additional-content top right">
    <ng-content select="[top-right]"></ng-content>
  </div>
  <div class="additional-content bottom left">
    <ng-content select="[bottom-left]"></ng-content>
  </div>
  <div class="additional-content bottom right">
    <ng-content select="[bottom-right]"></ng-content>
  </div>
</div>
