.h-center {
  grid-column-start: 4;
}

.h-left {
  grid-column-start: 0;
}

.v-center {
  grid-row-start: 4;
}

.top {
  grid-row-start: 1;
  grid-row-end: 4;
}

.bottom {
  grid-row-start: 5;
  grid-row-end: 8;
}

.left {
  grid-column-start: 1;
  grid-column-end: 4;
}

.right {
  grid-column-start: 5;
  grid-column-end: 8;
}

.control {
  display: grid;
  grid-template-columns: repeat(7, calc(100vw / 7));
  grid-template-rows: repeat(7, calc(80vh / 7));
}

app-touchpad {
  position: absolute;
  left: 0px;
  top: 10vh;
  width: 100vw;
  height: 80vh;
}

app-device-orientation-joystick {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 400px;
  height: 400px;
}

.button {
  font-size: min(7vh, 7vw);
}