.ok-cancel-root {
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.message {
  font-size: 2rem;
  font-weight: bold;
}

.placeholder{
  flex-grow: 1;
}

.buttons {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top:80px;
  .button {
    width: 200px;
    &.ok{
      margin-right: 50px;
    }
  }
}
