.ok-cancel-root {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 25vw;
  top:25vh;
  background-color: white;

  display:grid;
  grid-template-columns: 50vw;
  grid-template-rows: 30vh 10vh 10vh;

  font-size: min(6vh, 4vw);
}
