<div class="modal ok-cancel-root" *ngIf="visible">
    <div class="message">{{message}}</div>
    <div class="placeholder"></div>
    <div class="buttons">
        <div class="button ok" (click)="_onOk()">&nbsp;
            <img src="/assets/icons/done_FILL0_wght400_GRAD0_opsz48.svg" alt="Ok"/>
            Ok
        </div>
        <div class="button cancel" (click)="_onCancel()">&nbsp;
            <img src="/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg" alt="Cancel"/>
            Cancel
        </div>
    </div>
</div>
