<section class="pano-settings-screen">

  <div class="settings">
    <div class="cell label top left" (click)="chooseX()">
      <span>Overlap-X</span>
    </div>
    <div class="cell value top" (click)="chooseX()">
      <span>{{settings.minOverlapX}}</span>
    </div>
    <div class="cell unit top" (click)="chooseX()">
      <span>%</span>
    </div>

    <div class="cell label left" (click)="chooseY()">
      <span>Overlap-Y</span>
    </div>
    <div class="cell value" (click)="chooseY()">
      <span>{{settings.minOverlapY}}</span>
    </div>
    <div class="cell unit" (click)="chooseX()">
      <span>%</span>
    </div>
  </div>

</section>
