<div class="control">
  <button (click)="setAsZero()" class="setaszero button">Set as Zero</button>
  <pre class="joystick">{{joystickPosition | json}}</pre>

  <!--  +y-->
  <div class="button h-center" (click)="manualMove(0,10)">+10</div>
  <div class="button h-center" (click)="manualMove(0,1)">+1</div>
  <div class="button h-center" (click)="manualMove(0,0.1)">+0.1</div>

  <!--  +x-->
  <div class="button h-left v-center" (click)="manualMove(10,0)">+10</div>
  <div class="button v-center" (click)="manualMove(1,0)">+1</div>
  <div class="button v-center" (click)="manualMove(0.1,0)">+0.1</div>

  <div class="empty v-center"></div>

  <!--  -x-->
  <div class="button v-center" (click)="manualMove(-0.1,0)">-0.1</div>
  <div class="button v-center" (click)="manualMove(-1,0)">-1</div>
  <div class="button v-center" (click)="manualMove(-10,0)">-10</div>

  <div class="button h-center" (click)="manualMove(0, -0.1)">-0.1</div>
  <div class="button h-center" (click)="manualMove(0, -1)">-1</div>
  <div class="button h-center" (click)="manualMove(0, -10)">-10</div>
</div>
