:host {
  display: grid;
  grid-template-columns: repeat(3, (100vw/3));
  grid-template-rows: repeat(3, (80vh/3));
}

.box {
  border: 1px solid black;
  border-radius: 1vh;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  position: relative;
  z-index: 2;
  font-size: 2vw;

  & .label {
    font-size: 1.5vw;
    font-weight: normal;
    z-index: 1;
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
    color: gray;
    & .edit {
      font-size: 2vw;
      color:black;
      font-weight: bold;;
    }
  }
}

.status {
  grid-row-start: 3;
  grid-column: 1 / span 3;
  color: red;
  font-weight: bold;
}

.url {
  grid-row-start: 2;
  grid-column: 1 / span 3;
}