:host {
  display:grid;
  grid-template-columns: repeat(3, (100vw/3));
  grid-template-rows: repeat(3, (80vh/3));
}

.button {
  margin: 10px;
}

.status {
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
    padding: 20px;
    color:red;
    font-weight:bold;
    font-size: 2rem;
}