<div class="button" [routerLink]="['/picture-fov']">
    <span class="symbol-settings_photo_camera"> PictureFOV</span>
</div>
<div class="button" [routerLink]="['/pano-fov']">
    <span class="symbol-settings_panorama"> PanoFOV</span>
</div>
<div class="button" [routerLink]="['/record']">
    <span class="symbol-cinematic_blur"> Record</span>
</div>

<div class="button" [routerLink]="['/align']">
    <span class="symbol-joystick"> Align PH</span>
</div>
<div class="button" [routerLink]="['/movement-settings']">
    <span class="symbol-settings_slow_motion"> Movement</span>
</div>
<div class="button" [routerLink]="['/calc-fov']">
    <span class="symbol-calculate"> Calc FOV</span>
</div>

<div class="button" [routerLink]="['/camera']">
    <span class="symbol-photo_camera"> Camera</span>
</div>
<div class="button" [routerLink]="['/shots']">
    <span class="symbol-flash_on"> Shots</span>
</div>
<div class="button" [routerLink]="['/download']">
    <span class="symbol-download"> Download</span>
</div>