<button class="button" [routerLink]="['/picture-fov']">
    <img src="/assets/icons/settings_photo_camera_FILL0_wght400_GRAD0_opsz48.svg" alt="Picture FOV"/>
    PictureFOV
</button>
<button class="button" [routerLink]="['/pano-fov']">
    <img src="/assets/icons/settings_panorama_FILL0_wght400_GRAD0_opsz48.svg" alt="Pano FOV"/>
    PanoFOV
</button>
<button class="button" [routerLink]="['/record']">
    <img src="/assets/icons/cinematic_blur_FILL0_wght400_GRAD0_opsz48.svg" alt="Pano FOV"/>
    Record
</button>

<button class="button" [routerLink]="['/align']">
    <img src="/assets/icons/joystick_FILL0_wght400_GRAD0_opsz48.svg"  alt="Joystick"/>
    Align PH
</button>
<button class="button" [routerLink]="['/movement-settings']">
    <img src="/assets/icons/settings_slow_motion_FILL0_wght400_GRAD0_opsz48.svg"  alt="Joystick"/>
    Movement</button>
<button class="button" [routerLink]="['/calc-fov']">
    <img src="/assets/icons/calculate_FILL0_wght400_GRAD0_opsz48.svg"  alt="Calculate View"/>
    Calc FOV</button>
<!--<button class="button" [routerLink]="['/calc-fov']">🖩 Calc FOV</button>-->

<button class="button" [routerLink]="['/camera']">
    <img src="/assets/icons/photo_camera_FILL0_wght400_GRAD0_opsz48.svg" alt="Camera"/>
    Camera
</button>
<button class="button" [routerLink]="['/shots']">
    <img src="/assets/icons/flash_on_FILL0_wght400_GRAD0_opsz48.svg" alt="Camera"/>
    Shots</button>
<button class="button" [routerLink]="['/download']">
    <img src="/assets/icons/download_FILL0_wght400_GRAD0_opsz48.svg" alt="Download"/>
    Download</button>
<div></div>

<div>

</div>
