<button class="button" [routerLink]="['/picture-fov']">▯ PictureFOV</button>
<button class="button" [routerLink]="['/pano-fov']">▭ PanoFOV</button>
<button class="button" [routerLink]="['/record']">⏺ Record</button>

<button class="button" [routerLink]="['/align']">⟴ Align PH</button>
<button class="button" [routerLink]="['/pano-settings']">⚙ Settings</button>
<div></div>

<button class="button" [routerLink]="['/camera']">📷 Camera</button>
<button class="button" [routerLink]="['/download']">⭳ Download</button>
