<div class="buttons">
    <div></div>
    <div>
        <button (click)="onTop()">Top</button>
    </div>
    <div></div>

    <div>
        <button [class.disabled]="!fov?.partial" [disabled]="!fov?.partial" (click)="onLeft()">Left</button>
    </div>
    <div>
        <button (click)="onPartial()">Partial</button>
    </div>
    <div>
        <button [class.disabled]="!fov?.partial" [disabled]="!fov?.partial" (click)="onRight()">Right</button>
    </div>

    <div>&nbsp;</div>
    <div>
        <button (click)="onBottom()">Bottom</button>
    </div>
    <div>&nbsp;</div>
</div>

<div class="info">
    <div *ngIf="fov?.partial" class="line label">H-size:</div>
    <div *ngIf="fov?.partial" class="line value">{{hText}} ({{hFromText}} ... {{hToText}})</div>

    <div class="line label">V-size:</div>
    <div class="line value">{{vText}} ({{vFromText}} ... {{vToText}})</div>

    <div></div>
    <div></div>

    <div class="line label">Columns:</div>
    <div class="line value">{{calc?.horizontalPositions?.length}}</div>

    <div class="line label">Rows:</div>
    <div class="line value">{{calc?.verticalPositions?.length}}</div>
</div>
