:host {
  caret-color: transparent;
}

$bw: calc((100vw / 7) - 0.5vw);
$bh: calc((80vh / 7) - 0.5vh);

.infobox {
  display: grid;
  grid-template-columns: repeat(3, $bw);
  grid-template-rows: repeat(3, $bh);

  border: 1px solid black;
  border-radius: 1vh;
  margin: 0.5vh 0.5vw;

  font-size: min(6vh, 4vw);

  & img {
    width: min(6vh, 6vw);
  }
  & .button{
    font-size: min(3vh, 1.5vw);
  }
  & .h-label {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  & .h-value {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  & .v-label {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  & .v-value {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  & .h-label,.v-label{
    margin-right: 1vw;
    font-weight: bold;
  }
}

.button.toggle{
  display:grid;
  grid-template-rows: calc($bh - 3vh);
  grid-template-columns: calc($bw/4) auto;
}

.infobox.set-partial {
  & .button.x {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  & .button.y {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

.top {
  grid-column-start: 2;
  grid-row-start: 1;
}

.bottom {
  grid-column-start: 2;
  grid-row-start: 3;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
}

.right {
  grid-column-start: 3;
  grid-row-start: 2;
}

.center {
  grid-column-start: 2;
  grid-row-start: 2;
}

.set-dialog {
  width: 60vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(3, 20vh);
  & .close-button {
    background-color: orange;
  }
}
