.close-button {
  background-color: orange;
}

.button-left {
  grid-row-start: 2;
}

.button-right {
  grid-row-start: 3;
}

.value {
  font-size: 2rem;
  margin: 10px;
}

.info-border {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 50px);

  border: 1px solid black;
  border-radius: 5px;

  margin: 10px;
}

.info-range {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 50px);

  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;

  .h-label {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .h-value {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .v-label {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .v-value {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.pano-calc {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(3, 50px);

  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;

  font-size: 2rem;
}

.set-partial {
  height: 150px;
  .button {
    height: 60px;
    width: 170px;
  }
}

.set-dialog {
  width: 470px;
  height: 470px;
}

.set-dialog-content {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.top {
  grid-column-start: 2;
  grid-row-start: 1;
}

.bottom {
  grid-column-start: 2;
  grid-row-start: 3;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
}

.right {
  grid-column-start: 3;
  grid-row-start: 2;
}

.center {
  grid-column-start: 2;
  grid-row-start: 2;
}


//:host {
//  display: flex;
//  caret-color: transparent;
//}
//
