<div class="fields">
    <div class="label">Focus Time[s]:</div>
    <input class="input" (click)="modalService.open('focusTime')" type="text" readonly [value]="focusTime | formatSecond">

    <div class="label">Trigger Time[s]:</div>
    <input class="input" (click)="modalService.open('triggerTime')" type="text" readonly [value]="triggerTime | formatSecond">

    <div class="label">Delay after move[s]:</div>
    <input class="input" (click)="modalService.open('delayAfterMove')" type="text" readonly [value]="delayAfterMove | formatSecond">
</div>

<app-modal class="modal-num-pad" id="focusTime" (close)="onFocusTimeClose()">
    <app-number-pad [(value)]="focusTime">
    </app-number-pad>
</app-modal>

<app-modal class="modal-num-pad" id="triggerTime" (close)="onTriggerTimeClose()">
    <app-number-pad [(value)]="triggerTime">
    </app-number-pad>
</app-modal>

<app-modal class="modal-num-pad" id="delayAfterMove" (close)="onDelayAfterMoveClose()">
    <app-number-pad [(value)]="delayAfterMove">
    </app-number-pad>
</app-modal>

