<div class="buttons">
    <div>&nbsp;</div>
    <div>
        <button (click)="onTop()">Top</button>
    </div>
    <div>&nbsp;</div>

    <div>
        <button (click)="onLeft()">Left</button>
    </div>
    <div>&nbsp;</div>
    <div>
        <button (click)="onRight()">Right</button>
    </div>

    <div>&nbsp;</div>
    <div>
        <button (click)="onBottom()">Bottom</button>
    </div>
    <div>&nbsp;</div>
</div>

<div class="info">
    <div class="line label">H-size:</div>
    <div class="line value">{{hText}}</div>

    <div class="line label">H-from:</div>
    <div class="line value">{{hFromText}}</div>

    <div class="line label">H-to:</div>
    <div class="line value">{{hToText}}</div>

    <div></div>
    <div></div>

    <div class="line label">V-size:</div>
    <div class="line value">{{vText}}</div>

    <div class="line label">V-from:</div>
    <div class="line value">{{vFromText}}</div>

    <div class="line label">V-to:</div>
    <div class="line value">{{vToText}}</div>
</div>
