<div class="buttons">
    <div>&nbsp;</div>
    <div>
        <button (click)="onTop()">Top</button>
    </div>
    <div>&nbsp;</div>

    <div>
        <button (click)="onLeft()">Left</button>
    </div>
    <div>&nbsp;</div>
    <div>
        <button (click)="onRight()">Right</button>
    </div>

    <div>&nbsp;</div>
    <div>
        <button (click)="onBottom()">Bottom</button>
    </div>
    <div>&nbsp;</div>
</div>

<div class="info">
    <div class="line label">H-size:</div>
    <div class="line value">{{hText}} [{{hFromText}} ... {{hToText}}]</div>

    <div class="line label">V-size:</div>
    <div class="line value">{{vText}} [{{vFromText}} ... {{vToText}}]</div>
</div>
