<div class="grid">
    <div class="left-column box">
        <div class="button" (click)="onStart()">Start</div>
        <div class="button" (click)="onStop()">Stop</div>
        <div class="button" (click)="onPause()">Pause /<br> Resume</div>

        <fieldset class="radio-box">
            <legend class="legend">Pattern</legend>
            <checkbox class="checkbox" [checked]="gridChecked" label="Grid" value="GRID"
                (click)="onPatternClick($event)" />
            <checkbox class="checkbox" [checked]="sparseChecked" label="Sparse" value="SPARSE"
                (click)="onPatternClick($event)" />
        </fieldset>
    </div>

    <div class="command box">
        {{msg}}
    </div>

    <div class="matrix">
        <matrix2 class="matrix2" />
    </div>
</div>

<app-keyboard-dialog #keyboard (onOk)="onKeyboardOk($event)" />