<div class="left-column box">
    <button class="button" (click)="onStart()">Start</button>
    <button class="button" (click)="onStop()">Stop</button>
    <button class="button" (click)="onPause()">Pause / Resume</button>

    <fieldset class="radio-box">
        <legend>Pattern</legend>
        <checkbox  [checked]="gridChecked" label="Grid" value="GRID" (click)="onPatternClick($event)"/>
        <checkbox  [checked]="sparseChecked" label="Sparse" value="SPARSE" (click)="onPatternClick($event)"/>
    </fieldset>

</div>

<div class="right-column">
    <div class="command box">
        {{msg}}
    </div>

    <div class="matrix box">
        <matrix2 [width]="625" [height]="316"></matrix2>
    </div>
</div>

<app-keyboard-dialog #keyboard (onOk)="onKeyboardOk($event)"/>
