:host {
  display: flex;
  caret-color: transparent;
  height: 400px;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;

  margin: 3px;
  padding: 5px;
}

.left-column {
  width: 183px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.command {
  height: 65px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}

.matrix {

}
