:host {
  display: flex;
  caret-color: transparent;
  height: 400px;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;

  margin: 3px;
  padding: 5px;
}

.left-column {
  width: 183px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.command {
  height: 65px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}

.radio-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 30px 5px 5px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  .item {
    margin-bottom: 15px;
  }
  .item:first-of-type {
    margin-top: 5px;
  }
  .item:last-of-type {
    margin-bottom: 5px;
  }
}
