<div class="left-column box">
  <button class="button" (click)="onStart()">Start</button>
  <button class="button" (click)="onStop()">Stop</button>
  <button class="button" (click)="onPause()">Pause / Resume</button>
</div>

<div class="right-column">
  <div class="command box">
    {{msg}}
<!--    {{state | json}}-->
    <!--    Command: <span class="info">{{state?.command?.description}}</span>-->
    <!--    <span class="info">{{state?.commandIndex + 1}}/{{state?.commandCount}}</span>-->
  </div>

  <div class="matrix box">
<!--    <matrix [width]="623" [height]="311" [done]="done" [x]="x" [y]="y"></matrix>-->
    <matrix2 [width]="623" [height]="311"></matrix2>
  </div>
</div>
