[Unit]
After=network.target ph

[Service]
User=pi
Group=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --disable-infobars --kiosk --start-maximized --display=:0 http://localhost:8080
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
