:host {
    border-top: 1px solid black;
    background-color: white;
    user-select: none;
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: auto 10vh;
}

.line {
    display: flex;
    height: min(4vh, 4vw);
    margin: 0.25vh 0.25vw;
    font-size: max(1.5vw, 1.5vh);
    .item {
        padding: 0.5vh 1.5vh 0 1.5vh;
    }
}

.on-off {
    border-left: 1px solid black;
    background-color: mistyrose;

    & > .image {
        width: 9vh;
        height: 9vh;
    }
}