:host {
  width: 800px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0 5px 0 5px;
  display: block;
  background-color: mistyrose;
}

.content {
  height: 40px;
}

.label {

}

.value {
  font-weight: bold;
}

.shutdown-dialog {
  width: 320px;
  height: 128px;

  display:grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(1,128px);

  padding: 20px;

  .button {
    background-color: red;
  }
}
