:host {
  width: 800px;
  height: 40px;
  position: absolute;
  top: 440px;
  border: 1px solid black;
  margin: 0;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.content {
  height: 40px;
  display: flex;
  flex-direction: column;

  .line {
    display: flex;
    flex-direction: row;

    .item {
      padding: 0 5px 0 5px;
    }
  }
}

.on-off {
  border-left: 1px solid black;
  width: 35px;
  padding: 5px;
  background-color: mistyrose;

  img {
    width: 25px;
  }
}

.value {
  font-weight: bold;
}

.icon {
  width: 15px;
  position: relative;
  top: 3px;
}
