<div class="box state {{stateName}}" >{{stateName}}</div>

<div class="box title">{{title}} {{version?.version}}({{version?.commitIdAbbrev}})</div>

<div class="center-content">
  <led class="led" [color]="actorActiveIndicator"></led>
</div>

<div class="center-content">
  <led class="led" [color]="cameraActivityIndicator"></led>
</div>

<div class="box back-button center-content" [style.visibility]="backButton? 'visible':'hidden'" (click)="onBack()">
  <div class="text-wrapper">
    <span class="back-arrow">«</span>&nbsp;<span class="back-text">Back</span>
  </div>
</div>
