:host {
  width: 800px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  background-color: silver;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.box {
  text-align: center;
  height: 40px;
  box-sizing: border-box;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  &.state {
    width: 120px;
    border-right: 1px solid black;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
  }

  &.title {
    width: 540px;
    text-align: left;
    border-right: 1px solid black;
    padding: 0 10px 0 10px;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
  }

  &.back-button {
    width: 139px;
    height: 39px;
    background-color: #fdd;
    position: relative;

    .text-wrapper {
      margin-bottom: 7px;

    .back-arrow {
      position: relative;
      top: -1px;
      font-weight: bold;
      font-size: 2em;
    }

    .back-text {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  }
}


