<section class="text-input">

  <div class="row">
    <div class="cell text">
      <mat-form-field class="text">
        <mat-label>{{label}}</mat-label>
        <input matInput [placeholder]="placeholder" [value]="text">
      </mat-form-field>
    </div>
    <div class="cell backspace">
      <button class="button" mat-raised-button (click)="onBackspace()"><span class="material-icons">backspace</span>
      </button>
    </div>
  </div>

  <div class="row row-0 digits">
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('1')">1</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('2')">2</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('3')">3</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('4')">4</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('5')">5</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('6')">6</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('7')">7</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('8')">8</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('9')">9</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('0')">0</button>
    </div>
  </div>
  <div class="row row-1 chars">
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('q')">Q</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('w')">W</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('e')">E</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('r')">R</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('t')">T</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('z')">Z</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('u')">U</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('i')">I</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('o')">O</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('p')">P</button>
    </div>
  </div>
  <div class="row row-2 chars">
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('a')">A</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('s')">S</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('d')">D</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('f')">F</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('g')">G</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('h')">H</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('j')">J</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('k')">K</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('l')">L</button>
    </div>
  </div>
  <div class="row row-3 chars">
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('y')">Y</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('x')">X</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('c')">C</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('v')">V</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('b')">B</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('n')">N</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('m')">M</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('.')">.</button>
    </div>
    <div class="cell">
      <button class="button" mat-raised-button (click)="onChar('-')">-</button>
    </div>
  </div>
</section>
