<section class="statusbar">
  <div class="connection separator cell" [class.moving]="!isConnected">
    <div class="v-center">
      <div class="icon" [hidden]="!isConnected"><span class="material-icons">cloud_queue</span></div>
      <div class="icon" [hidden]="isConnected"><span class="material-icons">cloud_off</span></div>
    </div>
  </div>

  <div class="axis-pos separator cell" [class.moving]="controllerData?.x?.isMoving">
    <div class="v-center">
      <div>{{controllerData?.x?.pos?.toFixed(2)}}</div>
    </div>
  </div>

  <div class="axis-pos separator cell" [class.moving]="controllerData?.y?.isMoving">
    <div class="v-center">
      <div>{{controllerData?.y?.pos?.toFixed(2)}}</div>
    </div>
  </div>

  <div class="status separator cell">
    <div class="v-center">
      <div>{{status}}</div>
    </div>
  </div>

  <div class="connection separator cell" [class.moving]="controllerData?.camera?.focus">
    <div class="v-center">
      <div class="icon"><span class="material-icons">center_focus_weak</span></div>
    </div>
  </div>
  <div class="connection cell" [class.moving]="controllerData?.camera?.trigger">
    <div class="v-center">
      <div class="icon"><span class="material-icons">photo_camera_back</span></div>
    </div>
  </div>

</section>
