<section class="statusbar">
  <div class="connection separator cell">
    <div class="v-center">
      <div class="icon" [hidden]="connected"><span class="material-icons">cloud_queue</span></div>
      <div class="icon" [hidden]="!connected"><span class="material-icons">cloud_off</span></div>
    </div>
  </div>

  <div class="axis-pos separator cell">
    <div class="v-center">
      <div>{{axis?.x?.toFixed(2)}}</div>
    </div>
  </div>

  <div class="axis-pos separator cell" [class.moving]="movingX">
    <div class="v-center">
      <div>{{axis?.y?.toFixed(2)}}</div>
    </div>
  </div>

  <div class="status separator cell" [class.moving]="movingY">
    <div class="v-center">
      <div>{{_status}}</div>
    </div>
  </div>

  <div class="connection separator cell" [class.moving]="focus">
    <div class="v-center">
      <div class="icon"><span class="material-icons">center_focus_weak</span></div>
    </div>
  </div>
  <div class="connection cell" [class.moving]="trigger">
    <div class="v-center">
      <div class="icon"><span class="material-icons">photo_camera_back</span></div>
    </div>
  </div>

</section>
