.content-wrapper {
  width: 800px;
  height: 480px;
  background-color: white;

  .titlebar {
    width: 800px;
    height: 40px;
  }

  .content {
    width: 800px;
    height: 400px;
  }

  .status {
    width: 800px;
    height: 40px;
  }
}

