
@media (max-width:499px) {
  :host {
    grid-template-rows: repepeat(8, 10vh);
    grid-template-columns: 100vw;
  }
}

@media (min-width:500px) {
  :host {
    grid-template-rows: repepeat(8, 10vh);
    grid-template-columns: repepeat(2, 50vw);
  }
}

:host {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: repepeat(8, 10vh);
  grid-template-columns: 100vw;

  & .item {
    display: grid;
    grid-template-rows: 8vh;
    grid-template-columns: 8vh auto 8vh;
    margin: 1vh;
    background-color: silver;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
    border: 1px solid black;

    & .name {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 5vh;
      padding: 0.5vh 1vw;
    }

    & .button.delete {
      font-size: min(6vh, 3vw);
    }
  }
}
