
:host {
  height: 400px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .name {
      width: 500px;
      flex-grow: 1;
      margin-right: 5px;
    }

    .rename {
      display: none; // TODO
      background-color: rgb(255, 128, 128);
      width: 50px;
      position: relative;

      .icon {
        position: relative;
        top: 5px;
      }
    }

    .delete {
      background-color: rgb(255, 128, 128);
      width: 50px;
    }
  }
}
