<movement-controller>
    <div top-left class="info-border" (click)="modalService.open('picture-fov-set')">
        <div class="top center-content"><span class="value">{{vFromText}}</span></div>
        <div class="bottom center-content"><span class="value">{{vToText}}</span></div>
        <div class="left center-content"><span class="value">{{hFromText}}</span></div>
        <div class="right center-content"><span class="value">{{hToText}}</span></div>
        <div class="center center-content">
            <img class="click-icon" alt="click icon" src="/assets/hand-clicking-icon.svg" width="25px">
        </div>
    </div>

    <div top-right class="info-range">
        <div class="left-center-content h-label"><span class="value">H:</span></div>
        <div class="left-center-content h-value"><span class="value">{{hText}}</span></div>
        <div class="left-center-content v-label"><span class="value">V:</span></div>
        <div class="left-center-content v-value"><span class="value">{{vText}}</span></div>
    </div>
    <div bottom-left class="bottom-left">
        <button class="button load edit" [routerLink]="['/picture-fov/load']">
            <img src="/assets/icons/label_important_FILL0_wght400_GRAD0_opsz48.svg" alt="Load"/>
            Load FOV
        </button>
    </div>
    <div bottom-right class="bottom-right">
        <button class="button save" [routerLink]="['/picture-fov/save']">
            <img src="/assets/icons/save_FILL0_wght400_GRAD0_opsz48.svg" alt="Save"/>
            Save FOV
        </button>
        <button class="button edit" [routerLink]="['/picture-fov/edit']">
            <img src="/assets/icons/edit_FILL0_wght400_GRAD0_opsz48.svg" alt="Edit"/>
            Edit FOV
        </button>
    </div>
</movement-controller>

<app-modal class="modal-system-dialog" id="picture-fov-set">
    <div class="set-dialog center-content">
        <div class="set-dialog-content">
            <button class="button top" (click)="onTop()">Top</button>
            <button class="button left" (click)="onLeft()">Left</button>
            <button class="close-button button center" (click)="onClosePopup()">
                <img src="/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg" alt="Cancel"/>
            </button>
            <button class="button right" (click)="onRight()">Right</button>
            <button class="button bottom" (click)="onBottom()">Bottom</button>
        </div>
    </div>
</app-modal>
