<section class="mainscreen">
  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onPicture()">Picture FOV</button>
  </div>
  <div></div>
  <div></div>

  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onPanoSettings()">Panorma Settings</button>
  </div>
  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onPanoFOV()">Panorma FOV</button>
  </div>
  <div></div>

  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onPlaySettings()">Play Settings</button>
  </div>
  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onPlay()">Play</button>
  </div>
  <div></div>

  <div class="cell">
    <button class="button" mat-flat-button color="primary" (click)="onServerSettings()">Server Settings</button>
  </div>
  <div></div>
  <div></div>

</section>
