.play-settings-screen {

  padding:10px;

  .settings {
    display: grid;
    width: 350px;
    grid-template-columns: 200px 100px 50px;
    grid-template-rows: 50px 50px;
    box-sizing: border-box;

    .cell {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      box-sizing: border-box;
    }

    .top {
      border-top: 1px solid black;
    }
    .left {
      border-left: 1px solid black;
    }

    .label,.unit{
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }
    .value{
      font-weight: bold;
      font-size: 1.2rem;
      text-align: right;
    }

  }
}
