<div class="presets">
    <div class="preset" *ngFor="let preset of presets | keyvalue">
        <div class="button delete" (click)="_onDelete(preset.key)">
            <span class="symbol-delete"></span>
        </div>
        <div class="button edit" (click)="_onEdit(preset.key)">
            <span class="symbol-edit"></span>
        </div>
        <div class="label left-center-content">{{preset.key}}[{{preset.value.length}}]</div>
        <div class="button edit" (click)="_onLoad(preset.key)">
            <span class="symbol-label_important"> </span>
        </div>
    </div>
</div>

<div class="add-container" *ngIf="editable">
    <div class="button edit" (click)="_onAdd()">
        <span class="symbol-add"></span>
    </div>
</div>
