:host {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}

.presets {
  display: flex;
  flex-direction: column;
}

.add-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media all and (orientation:landscape) {

  .preset {
    display: grid;
    grid-template-columns: 8vh 8vh auto 8vh;
    grid-template-rows: 10vh;

    & .button {
      width: calc(8vh - 1vw);
      height: calc(6vh);
      font-size: 4vh;
    }
  }

  .label {
    font-size: 4vh;
  }

  div.button.edit {
    width: 20vw;
    font-size: 4.5vh;
  }
}

@media all and (orientation:portrait) {
  .preset {
    display: grid;
    grid-template-columns: 10vw 10vw auto 10vw;
    grid-template-rows: 6vh;

    & .button {
      width: calc(8vh - 1vw);
      height: 4vh;
      font-size: 2vh;
    }
  }

  .label {
    font-size: 2.5vh;
    padding-left: 1vw;
  }

  div.button.edit {
    width: 30vw;
    font-size: 6vw;
  }
}

