:host {
  display: grid;
}



@media all and (orientation:landscape) {
  $w: 3vw;
  $h: 8vh;
  :host {
    grid-template-columns: $h calc(1 * $w) calc(3 * $w) calc(1 * $w) calc(3 * $w) $h $h;
    grid-template-rows: $h;
  }
  
  .input {
    margin: 0.5vh 0;
    font-size: 4vh;
    text-align: right;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .button {
    width: calc($h - 1vw);
    height: calc($h - 2vh);
    font-size: 4vh;
  }
  
  .label {
    font-size: 4vh;
    margin-right: calc(0.2 * $h);
  }
}

@media all and (orientation:portrait) {
  :host {
    grid-template-columns: 10vw 10vw 22vw 10vw 22vw 10vw 10vw;
    grid-template-rows: 6vh;
  }
  
  .input {
    margin: 0.5vh 0;
    font-size: 5vw;
    text-align: right;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .label {
    font-size: 8vw;
    margin-right: 2vw;
  }
}
