:host {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}

.shots {
  overflow-x: hidden;
  overflow-y: auto;
}

.add-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media all and (orientation:landscape) {
  div.button.edit {
    width: 20vw;
    font-size: 4.5vh;
  }
}

@media all and (orientation:portrait) {
  div.button.edit {
    width: 30vw;
    font-size: 6vw;
  }
}