<!--Current shots-->
<div class="left">
    <shots class="shots"
           [shots]="_shots"
           [editable]="true"
           (onChange)="onCurrentShotChanged($event)"
    />
    <div class="button add edit"
         (click)="onAsNewPreset()">
        <img src="/assets/icons/add_FILL0_wght400_GRAD0_opsz48.svg" alt="Add"/>
        &nbsp;As new Preset
    </div>
</div>

<!--Presets-->
<div class="right">
    <presets class="presets"
             [presets]="_presets"
             (onDelete)="_onDeletePreset($event)"
             (onLoad)="_onLoadPreset($event)"
             (onEdit)="_onEditPreset($event)"
    />
</div>

<!--Edit Preset Dialog-->
<div class="modal edit-preset-dialog" *ngIf="editPreset">
    <shots class="shots"
           [shots]="tempShots"
           [editable]="true"
    />
    <div class="placeholder"></div>
    <div class="buttons">
        <div class="button ok" (click)="_onEditPresetOk()">
            <img src="/assets/icons/done_FILL0_wght400_GRAD0_opsz48.svg" alt="Ok"/>&nbsp;
            OK
        </div>
        <div class="button cancel" (click)="_onEditPresetCancel()">
            <img src="/assets/icons/close_FILL0_wght400_GRAD0_opsz48.svg" alt="Cancel"/>
            Cancel</div>
    </div>
</div>

<!--New Preset Dialog-->
<app-keyboard-dialog
        *ngIf="showNewPresetDialog"
        class="keyboard-dialog"
        [(value)]="newPresetName"
        placeholder="Enter new shot-preset name"
        (onOk)="onAsNewPresetOk()"
        (onCancel)="onAsNewPresetCancel()"
/>

<!--Delete Preset Dialog-->
<app-ok-cancel-dialog
        *ngIf="showDeleteOkCancelDialog"
        [message]="deleteMessage"
        (onOk)="_onDeletePresetOk()"
        (onCancel)="_onDeletePresetCancel()"
/>
