<div class="button delete" *ngIf="editable" (click)="_onDelete()">
    <span class=symbol-delete> </span>
</div>

<div class="label f right-center-content">F:</div>
<input class="input f"
       type="text"
       readonly
       [value]="shot.focusTimeMs | millisToSecond | toFixed:3"
       (click)="_onEditFocus()"
>

<div class="label  t right-center-content">T:</div>
<input class="input t"
       type="text"
       readonly
       [value]="shot.triggerTimeMs | millisToSecond | toFixed:3"
       (click)="_onEditTrigger()"
>

<div class="button button-up edit" *ngIf="editable && !first" (click)="_onUp()">
    <span class="symbol-arrow_upward"></span>
</div>
<div class="button button-down edit" *ngIf="editable && !last" (click)="_onDown()">
    <span class="symbol-arrow_downward"></span>
</div>

<app-modal class="modal-num-pad" id="shot" (close)="onEditorClose()">
    <app-number-pad [(value)]="temp">
    </app-number-pad>
</app-modal>