:host {
  display: grid;
}

@media all and (orientation:landscape) {
  :host {
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-rows: 80vh;
  }
  .button.add {
    height: 20vh;
    font-size: 6vh;
    text-align: center;
  }
}

@media all and (orientation:portrait) {
  :host {
    grid-template-columns: 100vw;
    grid-template-rows: 35vh 10vh 35vh;
  }

  .button.add {
    height: 8vh;
    font-size: 3vh;
  }
}

.box {
  border: 1px solid black;
  border-radius: 2vh;
  margin: 1vh 1vw;
}

.shots, presets {
  height: 100%;
}
