html, body {
  background-color: #999999;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 800px;
  height: 480px;
  background-color: #fff;
  margin: auto;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;

  background-color: unset;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 3px;
  padding: 7px;

  &:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 3px 3px 6px;
  }
}

.center-content {
  display:flex;
  justify-content: center;
  align-items: center;
}

.left-center-content {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
