@import 'simple-keyboard/build/css/index.css';
@import 'assets/font/roboto.css';
@import 'assets/font/power-symbols.css';
@import 'assets/font/symbol.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrapper {
  box-sizing: border-box;
  background-color: bisque;
  width: 100vw;
  height: 100vh;
}

// keyboard
.hg-theme-default {
  // margin-top: 3vh;
  font-family: inherit;

  & .hg-button {
    height: 10vh;
    font-size: min(4vh, 3vw);
  }
}

// common stuff
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-center-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-center-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.button {
  font-size: min(8vh, 4vw);
  font-weight: bold;

  background-color: white;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 1vh;
  margin: 1vh 1vw;
  padding: 7px;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 3px 3px 6px;
  }

  &.ok {
    background-color: #0dee1b;
  }

  &.cancel {
    background-color: red;
  }

  &.delete {
    background-color: red;
  }

  &.edit {
    background-color: yellow;
  }
}

fieldset.radio-box {
  border: 1px solid black;
  border-radius: 1vh;
  font-size: 1.5vh;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}
