<!--<div class="modal shutdown-dialog">-->
    <div class="buttons">
        <div (click)="restartApp()" class="button restart-app">
            <span class=symbol-frame_reload> Restart App</span>
        </div>
        <div (click)="reboot()" class="button reboot-system">
            <span class=symbol-refresh> Reboot</span>
        </div>
        <div (click)="shutdown()" class="button shutdown-system">
            <span class=symbol-power_rounded> Shutdown</span>
        </div>
    </div>
<!--    <div class="space"></div>-->
<!--    <div class="go-back">-->
<!--        <div (click)="onCancelShotdownDialog()" class="button cancel">-->
<!--            <span class=symbol-close> Cancel</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
