@use "sass:math";

.fields {
  margin: 1vh 1vw;
  display:grid;
  grid-template-columns: repeat(3, math.div(100vw, 3) );
  grid-template-rows: repeat(3, math.div(80vh, 3));

  .label {
    font-size: 2.5vw;
    font-weight: normal;
    padding: 12px 0 0 0;
    grid-column-start: 1;
    margin-right: 1vw;
  }

  .input {
    grid-column-start: 2;
    box-sizing: border-box;
    outline: unset;
    border:1px solid black;
    caret-color: transparent;
    cursor:pointer;

    height: 10vh;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: Monaco, "Lucida Console", monospace;

    text-align: right;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}
