<div class="fields">
    <div class="label right-center-content">Delay after move[s]:</div>
    <div class="input-wrapper center-content">
        <input class="input" (click)="modalService.open('delayAfterMove')" type="text" readonly
            [value]="delayAfterMove | toFixed">
    </div>

    <div class="label right-center-content">Delay between shots[s]:</div>
    <div class="input-wrapper center-content">
        <input class="input" (click)="modalService.open('delayBetweenShots')" type="text" readonly
            [value]="delayBetweenShots | toFixed">
    </div>


    <div class="label right-center-content">Delay after shots[s]:</div>
    <div class="input-wrapper center-content">
        <input class="input" (click)="modalService.open('delayAfterShots')" type="text" readonly
            [value]="delayAfterShots | toFixed">
    </div>
</div>

<app-modal class="modal-num-pad" id="delayAfterMove" (close)="onDelayAfterMoveClose()">
    <app-number-pad [(value)]="delayAfterMove" />
</app-modal>
<app-modal class="modal-num-pad" id="delayBetweenShots" (close)="onDelayBetweenShotsClose()">
    <app-number-pad [(value)]="delayBetweenShots" />
</app-modal>
<app-modal class="modal-num-pad" id="delayAfterShots" (close)="onDelayAfterShotsClose()">
    <app-number-pad [(value)]="delayAfterShots" />
</app-modal>