.border-chooser {
  display: grid;
  grid-template-rows: 50px 280px 50px;
  grid-template-columns: 50px 280px 50px;
  width: 380px;
  height: 380px;

  border: 1px solid black;

  .cell{
    padding: 5px;
  }

  .cell.v {
    width: 280px;
    height: 50px;
    transform: rotate(-90deg) translateX(-115px) translateY(-115px);
    box-sizing: border-box;
  }
}
