<section class="titlebar">
  <div class="title separator v-center">
    <div>{{title}}</div>
  </div>

  <button class="button save-button"
          [disabled]="!_saveEnabled"
          mat-flat-button
          color="warn"
          (click)="onSave()"
  >
    <span>Save</span>
  </button>

  <button class="button back-button"
          [disabled]="!_backEnabled"
          mat-flat-button
          color="primary"
          (click)="onBack()"
  >
    <span class="material-icons back-arrow">double_arrow</span>
    <span>Back</span>
  </button>
</section>
