.titlebar {
  height: 40px;
  border-bottom: 1px solid #666;
  display: flex;

  .title {
    width: 600px;
    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
  }

  .back {
    &.disabled {
      background-color: #999;
      color: #777;
    }

    background-color: #a3c4ff;
    width: 240px;

    .icon1 {
      position: relative;
      top: 2px;
      left: 5px;
    }

    .icon2 {
      top: 2px;
      position: relative;
      left: -9px;
    }

    .label {
      left: -9px;
      position: relative;
      font-size: 28px;
      font-weight: bold;
    }
  }

  .separator {
    border-right: 1px solid #666;
  }

  .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
  }
}
