.titlebar {
  height: 40px;
  //border-bottom: 1px solid #666;
  display: flex;

  .title {
    width: 600px;
    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .12);
  }

  .button {
    font-size: 1.7em;
    font-weight: bold;
    width: 200px;
    height: 100%;
    .material-icons {
      font-size: 1.2em;
      margin-right: 0.3em;
    }
  }

  .save-button {
    margin-right: 20px;
    margin-left: 20px;
  }

  .back-arrow {
    transform: rotate(180deg);
  }

}
